.title-highlighted {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 246px;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    background-color: $basic-green;
  }

  &::before {
    // right: 20px;
  }
}
