.title-highlighted {
  position: relative;
  width: fit-content;

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    right: calc(100% + 20px);
    width: 100vw;
    height: 2px;
    background-color: $basic-green;

    @media (min-width: $desctop) {
      right: calc(100% + 40px);
    }
  }

  &::after {
    left: calc(100% + 20px);

    @media (min-width: $desctop) {
      left: calc(100% + 40px);
    }
  }
}
