/* GLOBAL */
@import "./global/variables.scss";
@import "./global/global.scss";
@import "./global/fonts.scss";

/* BLOCKS */
@import "./blocks/main-header.scss";

/* NORMALIZE */
@import "./normalize.scss";

.map__image {
  max-width: 320px;
  height: 362px;
}

[class*="copyrights-pane"] {
  display: none;
}
