.advantages__wrapper {
  padding: 0 20px 49px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    padding: 0 30px 47px;
    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: $desctop) {
    padding: 75px 110px 0;
    border: none;
  }
}

.advantages__list {
  padding: 0;
}

.main-title.advantages__title {
  margin: 0 0 42px 0;

  @media (min-width: $tablet) {
    margin: 0 0 32px 0;
  }
}
