.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 209px;
  list-style: none;
  padding: 20px 20px 25px;
  border-top: 1px solid #ebebeb;
}

.card:last-child {
  border-bottom: 1px solid #ebebeb;
}

.card picture {
  @include flex;
}

.card__title {
  color: #222222;
  width: 76px;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 0 14px 0;
}

.card__list {
  display: flex;
  flex-direction: column;
  margin: 0 0 21px 0;
  padding: 0;
}

.card__item {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.card__button {
  grid-column: 1/-1;
}

.card__item-term,
.card__item-desc,
.card__desc-more {
  font-size: 12px;
  line-height: 16px;
}

.card--more {
  position: relative;
  grid-template-columns: 1fr;
  text-align: center;
  padding: 78px 20px 25px 20px;

  &::before {
    position: absolute;
    content: "";
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    background-image: url("../../images/icons/stack.svg#plus");
  }
}

.card__title--more {
  color: #111111;
  width: 100%;
  margin-bottom: 8px;
}

.card__desc-more {
  margin: 0 0 21px 0;
}
