.card {
  list-style: none;
}

.card__title {
  color: #222222;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.card__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.card__item {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.card__item-term,
.card__item-desc,
.card__desc-more {
  font-size: 12px;
  line-height: 16px;
}

.card__title--more {
  color: #111111;
}
