.example {
  background: $dark-grey;

  @media (min-width: $tablet) {
    background: linear-gradient($basic-white 57.5%, $dark-grey 57.5% 100%);
  }

  @media (min-width: $desctop) {
    background: linear-gradient($basic-white 28%, $basic-grey 28% 100%);
  }
}

.example__wrapper {
  padding: 25px 20px 40px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    padding: 45px 30px 101px;
  }

  @media (min-width: $desctop) {
    padding: 69px 110px 75px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
  }
}

.main-title.example__title {
  margin: 0 0 40px 0;

  @media (min-width: $tablet) {
    margin: 0 0 60px 0;
  }

  @media (min-width: $desctop) {
    margin: 0 0 146px 0;
  }
}

.example__content-wrapper {
  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 83px;
  }

  @media (min-width: $desctop) {
    grid-column: 1/2;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    margin-bottom: 0;
  }
}

.example__desc {
  margin: 0 0 20px 0;

  @media (min-width: $tablet) {
    margin: 0 0 55px 0;
  }

  @media (min-width: $desctop) {
    grid-column: 1/2;
    width: 433px;
    margin: 0 0 69px 0;
  }
}

.example__list {
  margin: 0;
}

.example__expenses {
  color: $basic-dark;
  text-align: center;
  font-family: $secondary-font;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0 0 20px 0;

  @media (min-width: $tablet) {
    text-align: right;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desctop) {
    display: flex;
    gap: 66px;
    margin: 0;
  }
}

.example__slider {
  margin: 0 0 0 3px;

  @media (min-width: $tablet) {
    margin: 0 auto;
  }
}

.example__button-wrapper {
  position: absolute;
  left: 50%;
  z-index: 7;
  top: 50%;

  &::after {
    position: absolute;
    content: "";
    height: 256px;
    width: 4px;
    background-color: #666666;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;

    @media (min-width: $tablet) {
      height: 512px;
    }
  }

  &:has(.example__button:hover)::after {
    background-color: $basic-green;
  }

  &:has(.example__button:active)::after {
    background-color: $basic-green;
    opacity: 0.6;
  }

  &:has(.example__button--disabled)::after {
    background-color: #666666;
    opacity: 0.2;
  }

  &:has(.example__button--disabled:hover)::after {
    background-color: #666666;
  }

  &:has(.example__button--disabled:active)::after {
    background-color: #666666;
    opacity: 0.2;
  }
}

.example__button {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #666666;
  background-color: $basic-white;
  border-radius: 50%;
  cursor: e-resize;
  z-index: 5;
  transition: all 0.3s ease;

  &:hover {
    border: 2px solid $basic-green;
  }

  &:active {
    border: 2px solid $basic-green;
    opacity: 0.6;
  }

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 18px;
    mask-image: url("../../images/icons/stack.svg#slider-arrows");
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: #666666;
    z-index: 4;
    transition: all 0.3s ease;
  }

  &:hover::before {
    background-color: $basic-green;
  }
}

.example__button--disabled {
  opacity: 0.2;
  cursor: default;

  &:hover,
  &:active {
    border: 2px solid #666666;
    opacity: 0.2;
  }

  &:hover::before,
  &:active::before {
    background-color: #666666;
    opacity: 0.2;
  }
}

.example__expenses-span {
  @media (min-width: $tablet) {
    display: block;
    margin-top: 9px;
  }

  @media (min-width: $desctop) {
    margin-top: 0;
  }
}
