.example {
  background-color: $dark-grey;
}

.example__wrapper {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

.example__list {
  margin: 0;
}

.example__expenses {
  color: $basic-dark;
  text-align: center;
  font-family: $secondary-font;
  line-height: 20px;
  text-transform: uppercase;
}
