.form {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.form__field-wrapper {
  @media (min-width: $desctop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    padding: 1px 110px 69px;
  }
}

.form__field-wrapper .form__field,
.form__field-wrapper .form__list {
  @media (min-width: $desctop) {
    padding: 0;
  }
}

.form__field-wrapper .form__list.form__list--radio {
  @media (min-width: $desctop) {
    padding: 25px 25px 25px 28px;
    margin: 0;
  }
}

.form__field {
  border: none;
  margin: 0;
  padding: 0;
}

.form__field--padding {
  @media (min-width: $tablet) {
    padding: 0 70px;
  }
}

.form__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin: 0;
  padding: 2px 20px 21px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet) {
    gap: 20px;
    border: none;
    padding: 2px 70px 70px;
  }
}

.form__list--contacts {
  border: none;
  padding: 0 20px 24px;

  @media (min-width: $tablet) {
    padding: 0 70px 65px;
  }

  @media (min-width: $desctop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    padding: 0 110px 70px;
  }
}

.form__list--extra.form__list {
  border: none;
  margin: 0 0 32px 0;
  padding: 22px 20px 0;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px 60px;
    margin: 0 0 52px 0;
    padding: 0 70px 0;
  }

  @media (min-width: $desctop) {
    margin: 0 0 60px 0;
    padding: 0 110px 0;
  }
}

.form__list--radio {
  margin-bottom: 26px;
  padding: 22px 20px 19px;
  gap: 13px;

  @media (min-width: $tablet) {
    padding: 23px 27px 27px;
    outline: 1px solid #e7e7e7;
    margin-bottom: 65px;
  }
}

.form__list--extra.form__list--radio {
  @media (min-width: $tablet) {
    outline: none;
  }

  @media (min-width: $desctop) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 82px;
  }
}

.form__item {
  position: relative;
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 13px;
  list-style: none;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    right: 13px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    mask-repeat: no-repeat;
    mask-position: center;
  }

  @media (min-width: $tablet) {
    gap: 15px;
  }
}

.form__item--email::before {
  mask-image: url("../../images/icons/stack.svg#icon-email");
  background-color: #222222;
}

.form__item--email:has(.input:focus)::before {
  background-color: $basic-green;
}

.form__item--tel::before {
  mask-image: url("../../images/icons/stack.svg#icon-phone");
  background-color: #222222;
}

.form__item--tel:has(.input:focus)::before {
  background-color: $basic-green;
}

.form__list--radio .form__item {
  gap: 15px;
}

.form__legend {
  color: $basic-dark;
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 26px;
  padding: 0;

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 36px;
  }
}

.form__legend--contacts {
  margin: 0 20px 34px;

  @media (min-width: $tablet) {
    margin: 0 70px 76px;
  }

  @media (min-width: $desctop) {
    margin: 0 110px 76px;
  }
}

.form__legend--comments {
  margin: 0 20px 38px;

  @media (min-width: $tablet) {
    margin: 0 70px 87px;
  }

  @media (min-width: $desctop) {
    margin: 0 110px 78px;
  }
}

.form__legend--extra {
  margin: 0 20px 12px;

  @media (min-width: $tablet) {
    margin: 0 70px 57px;
  }

  @media (min-width: $desctop) {
    margin: 0 110px 57px;
  }
}

.form__required {
  color: $basic-dark;
  text-align: center;
  line-height: 16px;

  @media (min-width: $tablet) {
    text-align: start;
    margin: 0 0 3px -3px;
  }
}

.form__input {
  &:disabled + .label__mark {
    outline: 1px solid #bababa;
    opacity: 0.3;
  }

  &:disabled ~ .label__span {
    opacity: 0.3;
  }
}

.form__input.textarea {
  margin: 0 20px 19px;

  @media (min-width: $tablet) {
    margin: 0 70px 59px;
  }

  @media (min-width: $desctop) {
    margin: 0 110px 65px;
  }
}

.form__button-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
    padding: 0 70px;
  }

  @media (min-width: $desctop) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    align-items: left;
    padding: 0 110px;
  }
}

.form__button {
  margin: 0 20px 21px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 26px;
    margin: 0;
    padding: 14px;
  }

  @media (min-width: $desctop) {
    grid-column: 1/3;
  }
}
