.form {
  display: flex;
  flex-direction: column;
}

.form__field {
  border: none;
  margin: 0;
  padding: 0;
}

.form__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin: 0;
  padding: 0 20px 23px;
  border-bottom: 1px solid #d9d9d9;
}

.form__list--contacts {
  border: none;
  padding: 0 20px 24px;
}

.form__list--extra.form__list {
  border: none;
  margin: 0 0 34px 0;
  padding: 22px 20px 0;
}

.form__list--radio {
  margin-bottom: 26px;
  padding: 22px 20px 19px;
  gap: 13px;
}

.form__item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 13px;
  list-style: none;
  // mask-repeat: no-repeat;
  // mask-position: center right -172px;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    right: 13px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    mask-repeat: no-repeat;
    mask-position: center;
  }
}

.form__item--email::before {
  mask-image: url("../../images/icons/stack.svg#icon-email");
  background-color: $basic-dark;
}

.form__item--tel::before {
  mask-image: url("../../images/icons/stack.svg#icon-phone");
  background-color: $basic-dark;
}

.form__list--radio .form__item {
  gap: 15px;
}

.form__legend {
  color: $basic-dark;
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 26px;
}

.form__legend--contacts {
  margin: 0 20px 35px;
}

.form__legend--comments {
  margin: 0 20px 38px;
}

.form__legend--extra {
  margin: 0 20px 36px;
}

.form__required {
  color: $basic-dark;
  text-align: center;
  line-height: 16px;
}

.form__input.textarea {
  margin: 0 20px 23px;
}

.form__button {
  margin-bottom: 21px;
}
