.form {
  display: flex;
  flex-direction: column;
}

.form__field-wrapper {
  @media (min-width: $desctop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    padding: 1px 0 69px;
  }
}

.form__field-wrapper .form__field,
.form__field-wrapper .form__list {
  @media (min-width: $desctop) {
    padding: 0;
  }
}

.form__list--padding.form__list {
  @media (min-width: $desctop) {
    padding: 25px 25px 25px 28px;
    margin: 0;
  }
}

.form__field {
  border: none;
  margin: 0;
  padding: 0;
}

.form__list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin: 0;
  padding: 0 0 23px;

  &::after {
    position: absolute;
    content: "";
    left: -20px;
    bottom: 0;
    background-color: #d9d9d9;
    width: 100vw;
    height: 1px;

    @media (min-width: $tablet) {
      display: none;
    }
  }

  @media (min-width: $tablet) {
    gap: 20px;
    border: none;
    padding: 2px 0 72px;
  }
}

.form__list--contacts {
  border: none;
  padding: 0 0 24px;

  @media (min-width: $tablet) {
    padding: 0 0 65px;
  }

  @media (min-width: $desctop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    padding: 0 0 70px;
  }
}

.form__list--contacts.form__list::after,
.form__list--extra.form__list::after {
  display: none;
}

.form__list--extra.form__list {
  border: none;
  margin: 0 0 32px 0;
  padding: 22px 0 0;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px 60px;
    margin: 0 0 52px 0;
    padding: 0 0 0;
  }

  @media (min-width: $desctop) {
    margin: 0 0 60px 0;
    padding: 0 0 0;
  }
}

.form__list--radio {
  margin-bottom: 26px;
  padding: 22px 0 20px;
  gap: 13px;

  @media (min-width: $tablet) {
    padding: 23px 27px 27px;
    outline: 1px solid #e7e7e7;
    margin-bottom: 65px;
  }
}

.form__list--extra.form__list--radio {
  @media (min-width: $tablet) {
    outline: none;
  }

  @media (min-width: $desctop) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 82px;
  }
}

.form__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 13px;
  list-style: none;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    right: 13px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    mask-repeat: no-repeat;
    mask-position: center;
  }

  @media (min-width: $tablet) {
    gap: 15px;
  }
}

.form__item--email::before {
  mask-image: url("../../images/icons/stack.svg#icon-email");
  background-color: #222222;
}

.form__item--email:has(.input:focus)::before,
.form__item--tel:has(.input:focus)::before {
  background-color: $basic-green;
}

.form__item--tel::before {
  mask-image: url("../../images/icons/stack.svg#icon-phone");
  background-color: #222222;
}

.form__item--email:has(.input--error)::before,
.form__item--tel:has(.input--error)::before,
.form__item--email:has(.input--error:focus)::before,
.form__item--tel:has(.input--error:focus)::before {
  background-color: #ff8282;
}

.form__list--radio .form__item {
  gap: 15px;
}

.form__input[type="checkbox"] + .form__mark {
  border-radius: 0;
}

.form__input[type="radio"]:checked + .form__mark::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 13px;
  height: 13px;
  background-color: $basic-green;
  transition: all 0.3s ease;

  @media (min-width: $tablet) {
    width: 18px;
    height: 18px;
  }
}

.form__input[type="checkbox"]:checked + .form__mark {
  background-image: url("../../images/icons/stack.svg#tick");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px;
  transition: all 0.3s ease;

  @media (min-width: $tablet) {
    background-image: url("../../images/icons/stack.svg#tick-tablet");
  }
}


.form__legend {
  color: $basic-dark;
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 26px;
  padding: 0;

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 36px;
  }
}

.form__legend--contacts {
  margin: 0 0 35px;

  & span::after {
    content: "\A";
    white-space: pre;

    @media (min-width: $tablet) {
      white-space: normal;
    }
  }

  @media (min-width: $tablet) {
    margin: 0 0 76px;
  }

  @media (min-width: $desctop) {
    margin: 0 0 76px;
  }
}

.form__legend--comments {
  margin: 0 0 38px;

  @media (min-width: $tablet) {
    margin: 0 0 87px;
  }

  @media (min-width: $desctop) {
    margin: 0 0 78px;
  }
}

.form__legend--extra {
  margin: 0 0 12px;

  @media (min-width: $tablet) {
    margin: 0 0 57px;
  }

  @media (min-width: $desctop) {
    margin: 0 0 57px;
  }
}

.form__required {
  color: $basic-dark;
  text-align: center;
  line-height: 16px;

  @media (min-width: $tablet) {
    text-align: start;
    margin: 0 0 3px -3px;
  }
}

.form__input {
  &:disabled + .form__mark {
    outline: 1px solid #bababa;
    opacity: 0.3;
  }

  &:disabled ~ .form__span {
    opacity: 0.3;
  }
}

.form__input--textarea {
  margin: 0 0 19px;

  @media (min-width: $tablet) {
    margin: 0 0 59px;
  }

  @media (min-width: $desctop) {
    margin: 0 0 65px;
  }
}

.form__button-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
    padding: 0;
  }

  @media (min-width: $desctop) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    padding: 0;
  }
}

.form__button {
  margin: 0 0 21px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 26px;
    margin: 0;
    padding: 14px;
  }

  @media (min-width: $desctop) {
    grid-column: 1/3;
  }
}
