.input {
  padding: 14px 36px 13px 15px;
  color: $text-color;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 18px;
  min-height: 45px;
  text-transform: uppercase;
  outline: 1px solid #e7e7e7;
  border: none;

  &::placeholder {
    color: $text-color;
    font-family: $secondary-font;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;

    @media (min-width: $tablet) {
      font-size: 20px;
      line-height: normal;
    }
  }

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: normal;
    padding: 11px 36px 11px 20px;
  }
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  appearance: none;
}
