.input {
  padding: 14px 36px 13px 15px;
  color: $text-color;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  &::placeholder {
    color: $text-color;
    font-family: $secondary-font;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
  }
}
