.main-header {
  font-family: $secondary-font;
  color: $basic-dark;
  padding: 13px 0 14px 0;
}

.main-header__wrapper {
  position: relative;
  // max-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header__top-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 65px;
  background-color: $basic-white;
  z-index: 3;
}
