.main-header {
  font-family: $secondary-font;
  color: $basic-dark;
  padding: 13px 0 14px 0;
}

.main-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header__logo{

}
