.main-header {
  font-family: $secondary-font;
  color: $basic-dark;

  @media (min-width: $tablet) {
    padding: 20px 0 25px;
  }

  @media (min-width: $desctop) {
    padding: 55px 0 29px;
  }
}

.main-header--underline {
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet) {
    border: none;
  }
}

.main-header__wrapper {
  position: relative;
  margin: 0 auto;
  padding: 13px 21px 11px 20px;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 30px;
  }

  @media (min-width: $desctop) {
    padding: 0 110px;
  }
}

.main-header__top-content {
  position: relative;
  display: flex;
  align-items: center;
  background-color: $basic-white;
  z-index: 6;

  @media (min-width: $tablet) {
    justify-content: flex-start;
    gap: 13px;
  }

  @media (min-width: $desctop) {
    justify-content: flex-start;
    gap: 14px;
  }
}
