.main-header {
  font-family: $secondary-font;
  color: $basic-dark;

  @media (min-width: $tablet) {
  padding: 25px 0;
  }
}

.main-header--underline {
  border-bottom: 1px solid #d9d9d9;
}

.main-header__wrapper {
  position: relative;
  // max-width: 320px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 30px;
  }
}

.main-header__top-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 65px;
  background-color: $basic-white;
  z-index: 3;

  @media (min-width: $tablet) {
    justify-content: flex-start;
    gap: 13px;
  }
}
