@keyframes nav-appearance {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

.main-nav {
  display: none;
  min-width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: $basic-white;
  z-index: 5;
  animation: nav-appearance 0.4s ease-in;

  @media (min-width: $tablet) {
    display: block;
    position: relative;
    min-width: 436px;
    animation: none;
  }

  @media (min-width: $desctop) {
    background-color: transparent;
    bottom: 2px;
    left: 3px;
  }
}

.main-nav--active {
  display: block;
}

.main-nav--nojs.main-nav {
  display: block;
}

.main-nav__list {
  margin: 0;
}
