.nav-list {
  padding: 0;
}

.nav-list__item {
  position: relative;
  list-style: none;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;
  }

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;
  }
}

.nav-list__link {
  @include flex;
  min-height: 65px;
  width: 100%;
  font-size: 20px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}
