.nav-list {
  padding: 0;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 34px;
  }

  @media (min-width: $desctop) {
    max-width: 610px;
  }
}

.nav-list__item {
  position: relative;
  list-style: none;

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 0;
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;

    @media (min-width: $tablet) {
      width: 0;
    }
  }

  &::after {
    bottom: 0;
  }
}

.nav-list__item--current {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 50px;
    width: 100%;
    height: 2px;
    background-color: $basic-green;

    @media (max-width: 767px) {
      display: none;
    }

    @media (min-width: $desctop) {
      top: 54px;
    }
  }
}

.main-header--index .nav-list__item--current::before {
  @media (min-width: $desctop) {
    background-color: $basic-white;
  }
}

.nav-list__link {
  @include flex;
  min-height: 66px;
  width: 100%;
  font-size: 20px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desctop) {
    font-size: 20px;
    line-height: normal;
  }
}

.nav-list__item--current .nav-list__link {
  &:hover,
  &:active {
    opacity: 1;
  }
}

.main-header--index .nav-list__link {
  @media (min-width: $desctop) {
    color: $basic-white;
  }
}
