.offer {
  position: relative;
  color: $basic-white;
  background-image: url("../../images/catalog/catalog-bg-mob@2x.jpg");
  background-size: cover;
  text-align: center;
  font-size: 16px;
  line-height: 20px;

  &::before {
    position: absolute;
    content: "";
    top: 59px;
    left: 50%;
    transform: translateX(-50%);
    width: 78px;
    height: 80px;
    background-image: url("../../images/icons/stack.svg#icon-gift");
  }
}

.offer__desc {
  min-height: 290px;
  background-color: rgba(104, 183, 56, 0.85);
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
  margin: 0;
  padding: 187px 61px 20px 58px;
}
