.option-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet) {
    gap: 30px;
  }
}

.option-list__item {
  position: relative;
  background-color: $basic-grey;
  padding: 30px 24px 18px 20px;
  list-style: none;

  &::before {
    position: absolute;
    content: "";
    top: 24px;
    left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $basic-green;

    @media (min-width: $tablet) {
      top: 92px;
      left: auto;
      right: 63px;
      width: 200px;
      height: 200px;
    }
  }

  &::after {
    position: absolute;
    content: "";
  }

  @media (min-width: $tablet) {
    padding: 77px 316px 57px 52px;
  }
}

.option-list__item--weight-loss::after {
  top: 21px;
  left: 27px;
  width: 36px;
  height: 50px;
  background-image: url("../../images/index/cat-slim-mob@1x.png");
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: $tablet) {
    top: 81px;
    left: auto;
    right: 93px;
    width: 140px;
    height: 194px;
    background-image: url("../../images/index/cat-slim-tab@1x.png");
  }
}

.option-list__item--weight-gain::after {
  top: 35px;
  left: 13px;
  width: 67px;
  height: 28px;
  background-image: url("../../images/index/cat-pro-mob@1x.png");
  background-position: center;

  @media (min-width: $tablet) {
    top: 135px;
    left: auto;
    right: 29px;
    width: 268px;
    height: 112px;
    background-image: url("../../images/index/cat-pro-tab@1x.png");
  }
}

.option-list__title {
  font-family: $secondary-font;
  color: $basic-dark;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 29px 29px 70px;

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 24px;
  }
}

.option-list__desc {
  position: relative;
  margin: 0 0 38px 0;

  &::before {
    position: absolute;
    content: "";
    bottom: -22px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #d9d9d9;

    @media (min-width: $tablet) {
      display: none;
    }
  }

  @media (min-width: $tablet) {
    color: $basic-dark;
    margin: 0 0 52px 0;
  }
}

.option-list__button {
  position: relative;
  font-family: $secondary-font;
  color: $basic-dark;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 4px 47px 4px 0;

  &::before {
    position: absolute;
    content: "";
    width: 32px;
    height: 10px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-image: url("../../images/icons/stack.svg#icon-arrow");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: normal;
  }
}
