.plus-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
  counter-reset: chapter 0;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 247px 249px;
    gap: 37px 137px;
  }

  @media (min-width: $desctop) {
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
  }
}

.plus-list__item {
  position: relative;
  list-style: none;
  min-height: 60px;
  counter-increment: chapter 1;

  &::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    top: 0;
    left: 0;
    background-color: $basic-green;
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: $tablet) {
      width: 80px;
      height: 80px;
    }
  }

  &::after {
    position: absolute;
    content: counter(chapter);
    top: 0;
    right: 0;
    height: 280px;
    width: auto;
    color: $basic-grey;
    font-family: $secondary-font;
    font-size: 280px;
    font-style: normal;
    font-weight: 400;
    line-height: 280px;
    z-index: -1;

    @media (max-width: 767px) {
      display: none;
    }
  }

  @media (min-width: $tablet) {
    min-height: 280px;
  }
}

.plus-list__item--healthy::before {
  background-image: url("../../images/icons/stack.svg#icon-leaf");
  background-size: 30px 32px;
}

.plus-list__item--powder::before {
  background-image: url("../../images/icons/stack.svg#icon-powder");
  background-size: 26px 29px;
}

.plus-list__item--functional::before {
  background-image: url("../../images/icons/stack.svg#icon-eat");
  background-size: 25px 30px;
}

.plus-list__item--time::before {
  background-image: url("../../images/icons/stack.svg#icon-watch");
  background-size: 26px 31px;
}

.plus-list__desc {
  margin: 0;
  padding: 0 0 0 80px;

  @media (min-width: $tablet) {
    padding: 151px 0 10px 0;
  }
}
