.program__wrapper {
  // max-width: 320px;
  padding: 27px 0 32px;
  margin: 0 auto;
}

.program__title {
  margin: 0 0 37px 20px;
}

.program__desc {
  color: $basic-dark;
  font-family: $secondary-font;
  text-transform: uppercase;
  margin: 0 0 39px 20px;
}
