.result-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 32px;
  padding: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    justify-content: flex-start;
    gap: 43px;
  }
}

.result-list__item {
  margin: 0;
  padding: 0;
  list-style: none;
}

.result-list__term {
  min-width: 124px;
  color: $basic-dark;
  text-align: center;
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  padding: 15px 15px 18px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
}

.result-list__desc {
  font-size: 12px;
  line-height: 100%;
  width: 87px;
  text-align: center;
  margin: 0;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $dark-grey;

  @media (min-width: $tablet) {
    background-color: $basic-white;
  }
}
