.result-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 32px;
  padding: 0;
  margin-bottom: 9px;

  @media (min-width: $tablet) {
    justify-content: flex-start;
    gap: 43px;
  }

  @media (min-width: $desctop) {
    justify-content: flex-start;
    gap: 42px;
    margin-bottom: 49px;
  }
}

.result-list__item {
  margin: 0;
  padding: 0;
  list-style: none;
}

.result-list__term {
  min-width: 124px;
  color: $basic-dark;
  text-align: center;
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  padding: 15px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;

  @media (min-width: $tablet) {
    min-width: 162px;
    font-size: 30px;
    line-height: 37px;
  }
}

.result-list__desc {
  font-size: 12px;
  line-height: 100%;
  width: 87px;
  text-align: center;
  margin: 0;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $dark-grey;

  @media (min-width: $tablet) {
    background-color: $basic-white;
    font-size: 14px;
    line-height: 14px;
    width: 112px;
    padding: 0 8px;

    br {
      display: none;
    }
  }

  @media (min-width: $desctop) {
    background-color: $basic-grey;
  }
}

.result-list__item:nth-child(2) .result-list__desc {
  @media (min-width: $tablet) {
    width: 141px;
  }
}
