.secondary-footer {
  background-color: $basic-grey;
}

.secondary-footer__wrapper {
  display: flex;
  gap: 40px;
  flex-direction: column;
  padding: 40px 20px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 55px 30px;
  }

  @media (min-width: $desctop) {
    padding: 66px 110px;
  }
}

.secondary-footer__logo {
  display: flex;
  justify-content: center;
}
