.textarea {
  resize: none;
  width: 88%;
  min-height: 150px;
  color: $text-color;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 14px 14px 14px 15px;
  border: 1px solid #e7e7e7;

  @media (min-width: $tablet) {
    width: 82%;
    font-size: 20px;
    line-height: 30px;
    min-height: 175px;
    padding: 11px 14px 14px 20px;
  }

  @media (min-width: $desctop) {
    width: 85%;
    padding: 9px 20px;
  }
}
